html, body {
    margin:0;
    padding:0;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
}

#container {
    display:flex;
    background-color: bisque;
    width:80%;
    height:80vh;
    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    border:5px solid black;
}

.box {
    background-color: aquamarine;
    width: 6.25%;
    height: 6.25%;
    display:flex;
    justify-content: center;
    align-items: center;
}