html, body {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

h1 {
    margin:0;
    padding:0;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: beige;
    gap:3rem;
}

#container {
    display:flex;
    background-color: bisque;
    width:45%;
    height:60vh;
    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    border:5px solid black;
}

.box {
    background-color: aquamarine;
    display:flex;
    justify-content: center;
    align-items: center;
}